body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 1em;
}

#contenido{
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  animation: animacionPrincipal 1s;
}

/*header*/
#cabecera{
  width: 100%;
  background-color: #5b7989;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #5b7989;

  display: flex;
  flex-flow: row wrap;
}

header{
  flex: 3 1;
  text-align: left;
  text-shadow: 2px 2px 1px #02010a;
  font-size: 1.2em;
}

nav{
  flex: 1 3;
  padding: 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav>a{
  text-decoration: none;
  color: white;
}

/*section*/
#seccion{
  width: 100%;
  background-color: #82c3a6;
}

/*Página Principal*/
/*principal*/
.principal img{
  width: 90%;
  margin: 20px auto;
  display: block;
}

/*secundaria*/
.secundaria{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.sec1,.sec2{
  flex: 1 1;
  text-align: center;
}

.secundaria figcaption{
  text-decoration: underline;
}

.secundaria img{
  width: 90%;
  transition-property: transform, box-shadow;
  transition-duration: 1s,1s;
}

.sec1 img:hover{
  transform: rotate(10deg);
  box-shadow: 4px 4px 1px #82c3a6;
}

.sec2 img:hover{
  transform: translate(20px,-5px);
  box-shadow: 4px 4px 1px #82c3a6;
}

img{
  box-shadow: 2px 2px 1px #02010a;
}

/*Páginas secundarias*/
.seccion_paisajes, .seccion_retratos{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}

.seccion_paisajes figure, .seccion_retratos figure{
  flex: 1 1 33.33%;
  margin: 20px 0;
}

img[id^="Img"]{
  width: 80%;
  margin: auto;
  display: block;
}

img[id^="Img1"]{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

img[id^="Img2"],img[id^="Img4"],img[id^="Img6"]{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

img[id^="Img3"]{
  filter: sepia(90%);
  -webkit-filter: sepia(90%);
}

/*footer*/
footer{
  width: 100%;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  border: 1px solid #C6d5c5;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
}

footer>div>h2{
  font-size: 1.4em;
}

footer>div{
  flex: 1 1 25%;
}

.social>figure{
  margin: 5px 0;
}

.social img{
  width: 15px;
  margin: 0 3px;
  display: inline;
  box-shadow: none;
}

.social figcaption{
  display: inline;
}

/*media queries*/
@media (max-width:900px) {
  #contenido{
    width: 100%;
  }

  /*header*/
  header{
    flex: 1 1 100%;
    text-align: center;
  }
  nav{
    flex: 1 1 100%;
    justify-content: space-around;
  }

  /*section*/
  /*página principal*/
  .sec1,.sec2{
    flex: 1 1 100%;
  }
  /*páginas secundarias*/
  .seccion_paisajes figure, .seccion_retratos figure{
    flex: 1 1 100%;
  }

  /*footer*/
  footer>div{
    flex: 1 1 100%;
  }
}

/*animaciones*/
@-webkit-keyframes animacionPrincipal{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100{
    margin-top: 0%;
  }
}
