body{
  background-color: #02010a;

}

#contenido{
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

/*header*/
#cabecera{
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-flow: row wrap;
  /*font-size: 2vh;*/
}

header{
  text-align: left;
  text-shadow: 2px 2px 1px #02010a;
  padding: 10px;
  flex: 3 1;
}

nav{
  flex: 1 3;
  padding: 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav>a{
  text-decoration: none;
  color: white;
}

/*section*/
section{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

/*principal*/
.principal{
  background-color: #82c3a6;
  height: 500px;
}

.principal>img{
  height: 90%;
  margin: 20px auto;
  display: block;
}

/*secundaria*/
.secundaria{
  background-color: #d5c75f;
  height: 350px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.sec1,.sec2{
  flex: 1 1;
  text-align: center;
}

.secundaria img{
  width: 80%;
  margin: 20px auto;
  display: block;
}

/*footer*/
footer{
  background-color: #C6d5c5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 20px;
}

footer>div{
  flex: 1 1 25%;
}

figure{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 5px 0;
}

.social img{
  width: 15px;
  margin: 3px;
}
